.home, .archive, .search {
  .site-main {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap:20px;
    padding:20px;

    > article {
      width:100%; height:0;
      padding-bottom:65%;
    }
  }
}