.single-file {
    h2 {
        color:#333;
    }
    main {
        padding:0 40px;
        hr {
            margin:20px 0 40px 0;
        }
    }
    &--categories {
        font-size:14px;
        ul {
            list-style:none;
            margin:10px 0 20px 0;
            li {
                display:inline-block;
                padding:4px 20px;
                background:#efefef;
                border-radius:30px;
                font-size:18px;
                a {
                    color:#333;
                }
            }
        }
    }
    &--tags {
        font-size:14px;
        a {
            &::after {
                content:', ';
            }
            &:last-of-type {
                &::after {
                    content:'';
                }
            }
        }
    }
    &--image-container {
        width:100%;
        display:flex;
        justify-content: center;
        padding:40px;
        background:#efefef;
    }
    &--image {
        max-width:100%;
    }
    &--quick-link {
        margin:20px 0;
        display:flex;
        align-items: center;
        input {
            width:calc(100% - 100px);
            font-size:21px;
        }
        button {
            appearance:none;
            background:none;
            border:none;
            font-size:36px;
            padding:20px;
            margin-left:20px;
        }
    }
}