.content-screen {
    &::before {
        content:'';
        display:block;
        position:fixed;
        top:0; left:0;
        z-index:100;
        height:100%; width:100%;
        background:rgba(0,0,0,.4);
    }
}