.file-tile {
  position:relative;
  box-sizing: border-box;
  &--click {
    position:absolute;
    top:0; left:0;
    display:block;
    height:100%; width:100%;
    &::after {
      content:'';
      display:block;
      background:#000;
      opacity:0;
      z-index:2;
      position:absolute;
      top:0; left:0;
      height:100%; width:100%;
      transition:.2s;
    }
    
  }
  h2 {
    opacity:0;
    transition:.2s;
    position:absolute;
    top:0; left:0;
    width:100%;
    margin:0;
    padding:10px;
    font-size:24px;
    color:#fff;
    z-index:3;
  }
  &--image {
    height:100%; width:100%;
    object-fit: cover;
    object-position: center center;
  }
  &--quick-link {
    position:absolute;
    bottom:0; left:0;
    width:100%;
    z-index:3;
    opacity:0; transition: .2s;
    padding:10px;
    display:flex;
    justify-content: center;
    input {
      color:#fefefe;
      width:calc(100% - 50px);
    }
    button {
      font-size:18px;
      appearance: none;
      color:#fff;
      border:none;
      padding:0 5px;
      background:transparent;
    }
    &::before {
      content:'Link Copied!';
      position:absolute;
      bottom:calc(100% + 10px);
      left:50%;
      transform:translateX(-50%);
      color:#fff;
      font-size:16px;
      opacity:0;
      transition:opacity .4s;
      background:rgba(255,255,255, .3);
      padding:5px 10px;
    }
    &::after {
      content:'';
      position:absolute;
      display:block;
      bottom:calc(100%);
      left:50%;
      transform:translateX(-50%);
      height:0; width:0;
      border-left:solid 15px transparent;
      border-right:solid 15px transparent;
      border-top:solid 10px rgba(255,255,255, .3);

      opacity:0;
      transition:opacity .4s;
    }
    &.copy-confirmed {
      &::before, &::after {
        opacity:1;
      }
    }
  }
  &:hover, &:focus {
    .file-tile--quick-link {
      opacity: 1;
    }
    h2 {
      opacity:1;
    }
    .file-tile--click {
      &::after {
        opacity:.5;
      }
    }
  }
}