.hero-simple-section {
    height: 325px;
    margin:0;
    h1 {
        position: absolute;
        bottom: 20px;
        color: #FFF;
        padding: 20px 100px 10px 0;
        font-size: 40px;
        line-height: 39px;
        font-weight: 600;
        border-bottom: 4px solid #FFF;
    }
}