.quick-nav-section {
    margin:100px 0;
    &--nav-items {
        list-style:none;
        display:flex;
        flex-wrap:wrap;
        margin:0 -10px;
        justify-content: center;
        
        .nav-item {
            margin:10px;
            border:solid 1px rgb(206, 206, 206);
            background:#fff;
            &--url {
                width:265px;
                height:200px;
                position:relative;
                text-align:center;
                display:flex;
                align-items:center;
                justify-content: center;
                flex-wrap:wrap;
                font-weight:700;
                font-size:16px;
                color:$primary-color-light;
            }
            &--icon {
                flex-basis:100%;
                align-self:flex-end;
                .fa-icon {
                    font-size:50px;
                    line-height:60px;
                }
                img {
                    height:60px;
                    width:60px;
                    object-fit: contain;
                    object-position: center center;
                }
                &__default {

                }
                
                &__hover {
                    display:none;
                }
            }
            &--text {
                // position:absolute;
                // bottom:10px;
                // width:100%;50
                // left:0;
                align-self:flex-start;
                text-decoration:underline;
            }
            &--url:hover, &--url:focus {
                box-shadow:-1px 7px 8px 3px rgba(0,0,0,0.05);
                .nav-item--icon__hover {
                    display:inline-block;
                }
                .nav-item--icon__default {
                    display:none;
                }
            }
        }
    }
}