.sidebar {
    width:340px;
    box-sizing:border-box;
    font-size:12px;
    position:relative;
    &--content {
        padding:20px;
    }
    .widget {
        border-bottom:solid 1px #ccc;
        padding-bottom:30px;
        margin-bottom:20px;
        &:last-of-type {
            border-bottom:none;
        }
    }
    .search-form {
        display:flex;
        justify-content: space-between;
        label {
            width:calc(100% - 70px);
            .search-field {
                width:100%;
                height:35px;
                padding:2px 15px;
                font-size:14px;
            }
        }
        .search-submit {
            appearance:none;
            height:35px;
            background:none;
            padding: 2px 10px;
            font-size:14px;
            background:#efefef;
            &:hover, &:focus {
                background:#005fb2;
                color:#fff;
            }
        }

    }

    h2 {
        font-size:24px;
        margin-bottom:0;
    }
    ul {
        padding:0;
        list-style:none;
    }
    &--content {
        position:fixed;
    }
}