.content-area {
}
/**
 * #TODO I need to scope this, Its fine for now but eventually 
 * there may be sections outside of the content area (probably will  
 * add a class on the build_section() function)
 */
section {
    position:relative;
    margin:40px 0;
} 

.site-content {
    display:flex;
    justify-content: space-between;
    .content-area {
        width:100%; 
        min-height:calc(100vh - 80px);
    }
}